body{
    font-family: '微软雅黑';
    font-weight: 400;
    font-size: 14px;
    color: #363636;
    background: #ededed;
}
.container{
    margin-top: 80px;
    margin-bottom: 15px;
    background: #fff;
}
.head-title span{
    color: #F0563D;
}
#photo{
    width: 160px;
    height: 160px;
    display: inline-block;
    padding: 5px;
    overflow: hidden;
    border-radius: 50%;
}
img{
    width:150px;
    height: 150px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}
.box h3{
    color: #F0563D;
}
.box h3:before{
    content: '//';
    color:#F0563D;
}
ul{
    list-style: none;
}
ul li{
    width: 100%;
    float:left;
    position: relative;
}
ul .year{
    display: inline-block;
}
ul .description{
    width:80%;
    display: inline-block;
}
.contact-item{
    width: 100%;
    float: left;
}
.contact-item .icon{
    padding:10px;
    border-right:1px solid #aaa;
    border-bottom:1px solid #aaa;
    opacity: 0.2;
}
.contact-item .title.only{
font-size: 20px;
}
.contact-item .title{
    width: 80%;
    width: calc(100% - 55px);
    font-size: 15px;
    opacity: 0.9;
}
.contact-item .description{
    width: 80%;
    width: calc(100% - 55px);
    font-size: 10px;
    opacity: 0.7;
}
.contact-item .glyphicon{
    font-size: 20px;
}
.skills-item{
    background: #F0563D;
    color: #fff;
    padding:5px;
    margin-bottom: 5px;
}
.skill{
    margin: 5px;
    padding:5px;
}
.skill span{
    color:#F0563D;
}
.hobbie{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 5px 5px 25px;
    background: #A75265;
    position: relative;
    font-size: 1.2em;
}


